{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TourPosts</title>
    <link rel="stylesheet" href= {% static 'home.css'%}>
</head>
<body>
    <div >
        <div id="wallpaper">
            <br>
            <br>
            <h1 id= "wnote" style="color:rgb(46, 57, 44); font-size : 35px;">
                Welcome to <b style="color: rgba(58, 113, 125, 0.954); font-size : 45px;"> TourPosts </b>
            </h1>
            <br> <br>
            <br> <br>
        </div>
        <div id='about_website'>
            <h2 style="color:rgb(46, 57, 44); font-size : 25px ;">
                Welcome to our Tourist Community Find and Post Travel Experience with the others <br> <br>
                Let's Plan Next Trip Together! Join <b style="color: rgba(58, 113, 125, 0.954);font-size : 35px;"> TourPosts </b>
                Now!!
            </h2>
               <br> <br>
                <br> <br>
        </div>
        <div style="display: flex; align-items: center; justify-content: center;">
            <div >
                <!-- <img src={% static 'A.jpg' %}  alt=""> -->
                
            </div>

            <div id="links">
                <div id="l">
                    <a href="signup">
                    <button class="button" style="vertical-align:middle"><span> Sign Up </span></button>
                    </a>
                </div>
                <div id="l">
                    <a href="signin">
                    <button class="button" style="vertical-align:middle"><span> Sign In </span></button>
                    </a>
                </div>
                <div id="l">
                    <a href="cities">
                    <button class="button" style="vertical-align:middle"><span> Explore Cities </span></button>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>